@use "../utils/_mixins" as mh;

.accordion {
  @include mh.adaptiv-value("padding", 10, 0, 0);
  &__container {
    @include mh.adaptiv-value("padding", 25, 10, 0);
  }

  &__title {

  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    @include mh.adaptiv-value("padding", 20, 5, 0);
    justify-content: center;
    align-content: start;
    justify-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: min-content; //!при раскрытии других не открывается body аккордеона при не активном пункте
    width: 100%;
    gap: 10px;
     @include mh.adaptiv-value("padding", 15, 7.5, 0);
     @include mh.adaptiv-value("line-height", 24, 22, 0);;
    // background-color: rgba(255, 255, 255, 0.8);
    // border-radius: 5px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    
    &::after{
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--colorSecondary);
    }
  }

  &__item-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  &__item-title {
    font-weight: bold;
  }

  &__item-icon {
    color: brown;
    font-size: 20px;
  }

  &__item-body {
    display: none; //!важно, чтобы было none
    padding: 20px;
    color: darkslategray;
    font-size: 16px;
  }
}
.accordion-toggle {
  cursor: pointer;
}
.accordion-icon {
  &:hover {
    color: red;
    transform: scale(1.2, 1.2);
    font-size: 24px;
    transition: all 0.3s ease;
  }
}

.collapsed {
  height: max-content; //!при раскрытии принимает максмальную высоту под контент
}
