@use "../utils/_mixins" as mh;

.hero {
  background-color: rgb(255, 246, 245);
  position: relative;
  overflow: hidden; // Чтобы паутина не вылезала
  @include mh.adaptiv-value("padding", 25, 10, 0);

  // Псевдоэлемент для паутины
  &::before {
    content: "";
    position: absolute;
    top: -50px; // Смещаем, чтобы она "свисала"
    right: -50px;
    width: 600px; // Большая, но тонкая
    height: 600px;
    background-image: url("../../img/web-1920-removebg.png"); // Твоя паутина, но в виде тонкой линии
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.15; // Почти невидимая
    z-index: 1;
    animation: webDraw 3s ease-out forwards;

    @media (max-width: 484px) {
      width: 300px; // Уменьшаем размер в два раза
      height: 300px;
      top: 150px; // Подтягиваем выше, чтобы не создавала пустую высоту
      right: 30px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2; // Текст поверх паутины
    gap: 20px;
    height: max-content;
  }

  &__title {
    font-family: "Playfair Display", serif;
    @include mh.adaptiv-value("font-size", 60, 30, 0);
    text-align: justify;
    text-justify: auto;
    .highlight {
      color: var(--colorPrimary); // Твой акцентный цвет
    }
  }

  &__subtitle {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    @include mh.adaptiv-value("font-size", 28, 19.2, 0);
    text-align: justify;
    text-justify: auto;
  }

  &__actions {
    display: flex;
    gap: 15px;
    // min-height: 50px;

    a {
      align-self: center;
      padding: 15px 20px;
    }

    @media (max-width: 484px) {
      flex-direction: column;
    }
  }
}

// Анимация прорисовки
@keyframes webDraw {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.15;
    transform: scale(1);
  }
}
