@use "../utils/_mixins" as mh;

.price {
  padding: 5px;
  &__container {
    @include mh.adaptiv-value("padding", 25, 10, 0);
    // max-width: 1920px !important;
  }

  &__title {
    padding-bottom: 25px !important;
  }

  &__common {
    display: flex;
    @include mh.adaptiv-value("font-size", 18, 14, 0);
    font-family: "Manrope";
    font-style: italic;
    @include mh.adaptiv-value("padding-bottom", 25, 15, 0);
    line-height: 1.5;
    text-align: justify;
    text-justify: auto;

    span {
      font-weight: 600;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    @include mh.adaptiv-value("gap", 20, 10, 0);
    align-items: stretch;
  }

  &__item {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      // transform: translateY(-5px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
      border-color: var(--colorSecondary);
    }
  }

  &__item-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
    min-height: 54px; /* Чтобы заголовки в 2 строки не ломали сетку */
    display: flex;
    align-items: center;
    line-height: 1.5;
  }

  &__item-cost {
    font-size: 18px;
    font-weight: 600;
    color: #007bff;
    line-height: 1.5;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--colorSecondary);
  }

  &__item-list {
    flex-grow: 1; /* Растягивает список, толкая кнопки вниз */
    // margin-bottom: 30px;

    li {
      font-size: 14px;
      line-height: 1.5;
      color: #555;
      margin-bottom: 12px;
      position: relative;
      padding-left: 20px;

      &::before {
        content: "✓";
        position: absolute;
        left: 0;
        color: #28a745;
        font-weight: bold;
      }

      span {
        font-weight: 600;
        color: #333;
      }
    }
  }

  &__item-btns {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 10px;
  }

  &__item-btn {
    display: inline-block;
    text-align: center;
    padding: 14px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition:
      border 0.3s ease,
      color 0.3s ease,
      box-shadow 0.3s ease;

    &.open-modal {
      background-color: #007bff;
      color: #fff;
      border: 1px solid #007bff;

      &:hover {
        box-shadow: 0px 3px 5px #333;
      }
    }

    &:not(.open-modal) {
      background-color: transparent;
      border: 1px solid #007bff;
      color: #444;

      &:hover {
        border-color: #65afff;
        color: #007bff;
        box-shadow: 0px 3px 5px rgba(83, 134, 189, 0.9);
      }
    }
  }

  &__item-note {
    font-size: 12px;
    color: #afafaf;
    font-weight: 600;
    text-align: center;
    font-style: italic;
  }
}
.h2 {
}
.open-modal {
}
