:root {
  --color1: #00ab6b;
  --colorText: rgb(122, 122, 122);
  --colorTitle: rgb(10, 10, 10);
  --colorLinks: rgb(119, 119, 119);
  --colorLinksActive: rgb(21, 21, 21);
  --colorPrimary: #c3110c;
  --colorSecondary: #c40c0c;
  --colorMain: #84b179;
  --colorBtn: #ff0000;
  --colorBtnHover: #ff6500;
  --colorWrapper: #f6f0d7;
}
