//утилиты
@use "utils/_fonts.scss" as *;
@use "utils/_reset.scss" as *;
@use "utils/_mixins" as mSt;
@use "utils/_settings.scss" as setSt;
@use "utils/_variable.scss" as varSt;

// блоки
@use "blocks/_header.scss";
@use "blocks/_modalContact.scss";
@use "blocks/_hero.scss";
@use "blocks/_footer.scss";

.wrapper {
  min-height: 100%;
  // overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 5000px;
}
.content {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1440px;
  margin: 0 auto;
}
